# Python specific
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.env/
env/
.venv/
venv/

# Packaging and distribution files
.Python
build/
dist/
*.egg-info/
*.egg
MANIFEST

# Dependency directories
develop-eggs/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
.installed.cfg

# Test and coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# IDE specific files and directories
.idea/
*.iml
.vscode/

# Jupyter Notebook files
.ipynb_checkpoints

# Temporary files created by editors and the system and folders to ignore
*.swp
*~
*.bak
*.tmp
temp/
tmp/

# Database files (SQLite, DuckDB, etc.)
*.duckdb
*.db
*.wal
*.sqlite

# Rust specific
/target/
.cargo-ok
cobertura.xml
tarpaulin-report.html

# Dependency lock files (uncomment to ignore)
poetry.lock
Cargo.lock
#uv.lock

# Ignore files in the tests/testdata/[graphina-graphs] directory
tests/testdata/*.txt
tests/testdata/*.csv
tests/testdata/*.json
tests/testdata/*.parquet
tests/testdata/*.gitattributes
tests/testdata/graphina-graphs/*.gitattributes
tests/testdata/graphina-graphs/*.md
tests/testdata/graphina-graphs/*.txt
tests/testdata/graphina-graphs/*.csv
tests/testdata/graphina-graphs/*.json
tests/testdata/graphina-graphs/*.parquet

# Miscellaneous files and directories to ignore
# Add any additional file patterns a directory names that should be ignored down here
.DS_Store
tmp_*
temp_*
output_*
*.so
.benchmarks/
ci.yml
src/main.rs
*_output.txt
*.proptest-regressions
test_graph.html
graph_*.png
graph_*.svg
graph_*.json
graph_*.html
graph.html
graph.png
*.bin
*.log
